@use "./SASS-TOOLKIT/all" as *;

//CLASSES
.Hidden {
  display: none !important;
}

.Hr-line{
  border: 1px solid $Light-gray;
}

//EXTENDS
%center-item {
  display: grid;
  place-items: center;
}

%slide-heading {
  @include fonting(var(--l-res), "Ubuntu-B");
  color: $Marine-blue;
  margin-bottom: 10px;

  @include Mobile{
    margin-bottom: 0px;
  }
}

%slide-para {
  @include fonting(var(--m-res), "Ubuntu-R");
  color: $Cool-gray;

  @include Mobile{
    line-height: 1.5rem;
  }
}

%gap-bw{
  display: flex;
  justify-content: space-between;
  align-items: center;
}