@use "./SASS-TOOLKIT/all" as *;

//CLASSES
.Hidden {
  display: none !important;
}

.Hr-line {
  border: 1px solid $Light-gray;
}

.Active-step {
  color: $Marine-blue !important;
  background: $Light-blue;
}

.Card-selected {
  outline: 1px solid $Purplish-blue;
  background: $Alabaster;
}

.Toggle-btn{
  transform: translateX(150%);
}

.AddonTile-selected{
  border-color: $Purplish-blue !important;
  background-color: $Alabaster;

  .Tick-mark{
    background: url("/public/assets/images/icon-checkmark.svg") center/12px
      no-repeat blue;
  }
}

.Confirm-btn{
  color: $White !important;
  background: $Purplish-blue !important;

  &:hover{
    background: lighten($Purplish-blue, 10%) !important;
  }
}

//EXTENDS
%center-item {
  display: grid;
  place-items: center;
}

%slide-heading {
  @include fonting(var(--l-res), "Ubuntu-B");
  color: $Marine-blue;
  margin-bottom: 10px;

  @include Mobile {
    margin-bottom: 0px;
  }
}

%slide-para {
  @include fonting(var(--m-res), "Ubuntu-R");
  color: $Cool-gray;

  @include Mobile {
    line-height: 1.5rem;
  }
}

%gap-bw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
