//ADDING COMPONENTS
@use "./SASS-COMPONENTS/Step.scss";
@use "./SASS-COMPONENTS/InputBox";
@use "./SASS-COMPONENTS/Card";
@use "./SASS-COMPONENTS/AddOnTile";

//ADDING STYLES
@use "./SASS-TOOLKIT/all.scss" as *;
@use "./classesANDxtends" as *;

//MAIN

.Page {
  @extend %center-item;
  min-height: 100vh;
  background: $Light-gray;
  padding: 1rem;

  @include Mobile {
    padding: 0;
  }

  .Container {
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 3/2;
    padding: var(--p-Container);
    border-radius: 15px;
    background: $White;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr;

    @include Mobile {
      display: block;
      height: 100vh;
      aspect-ratio: unset;
      background: unset;
    }

    .Left-Hand {
      padding: var(--p-Left-Hand);
      border-radius: 10px;
      background: url("/public/assets/images/bg-sidebar-desktop.svg")
        center/cover no-repeat;

      @include Mobile {
        border-radius: unset;
        background: url("/public/assets/images/bg-sidebar-mobile.svg")
          center/cover no-repeat;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 1.2rem;
        position: absolute;
        inset: 0 0 auto 0;
        z-index: 0;
        height: 22vh;
      }

      //STEP COMPONENT
    }

    .Right-Hand {
      display: grid;
      grid-template-rows: 1fr;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;

      @include Mobile {
        padding: 13vh 0 0 0;
        max-width: unset;
        min-height: 100vh;
        background: $Light-gray;
      }

      main {
        display: grid;
        grid-template-rows: auto 1fr;

        @include Mobile {
          background: $White;
          padding: var(--p-Main);
          border-radius: 10px;
          z-index: 1;
          justify-self: center;
          max-width: 500px;
          height: min-content;
          margin: 0 clamp(5px, calc(8% - 25px), 1rem);
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        }

        .Header {
          margin: var(--m-Header) 0;

          h1 {
            @extend %slide-heading;
          }

          p {
            @extend %slide-para;
          }
        }

        .Slide-Box {
          //INPUTBOX COMPONENT

          .Slide-Two {
            .Card-Box {
              display: flex;
              gap: 1rem;

              @include Mobile {
                flex-direction: column;
              }

              //CARD COMPONENT
            }

            .ToggleBtn-Box {
              margin-top: var(--m-ToogleBtn-Box);
              @extend %center-item;
              width: 100%;
              padding: var(--p-ToogleBtn-Box);
              background: $Alabaster;
              border-radius: 5px;

              button {
                width: 2.5rem;
                aspect-ratio: 3/1;
                border: none;
                background: $Marine-blue;
                padding: 5px;
                border-radius: 16px;
                position: relative;
                cursor: pointer;

                .Circle {
                  width: 12px;
                  aspect-ratio: 1/1;
                  border-radius: 50%;
                  background: $White;
                  transition: transform .3s ease-in;
                }

                &::after,
                &::before {
                  @include fonting(var(--sm-res), "Ubuntu-M");
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                }

                &::before {
                  content: "Monthly";
                  right: calc(100% + 1.5rem);
                  color: $Marine-blue;
                }

                &::after {
                  content: "Yearly";
                  left: calc(100% + 1.5rem);
                  color: $Cool-gray;
                }
              }
            }
          }

          //ADD-ON-SLIDE COMPONENT

          .Slide-Four {
            .Finishing-Table {
              width: 100%;
              border-radius: 10px;
              background-color: $Alabaster;
              padding: 1.5rem;

              h1 {
                @include fonting(var(--sm-res), "Ubuntu-B");
                color: $Marine-blue;
                @extend %gap-bw;
                margin-bottom: 1.5rem;
              }

              h2 {
                @include fonting(var(--xs-res), "Ubuntu-M");
                color: $Cool-gray;
                @extend %gap-bw;

                &:not(:nth-of-type(2)) {
                  margin: 1rem 0;
                }
              }
            }

            .Total-sum {
              margin-top: 3rem;
              padding: 0 1.5rem;
              @extend %gap-bw;
              @include fonting(var(--xs-res), "Ubuntu-M");
              color: $Cool-gray;

              & :nth-child(2) {
                color: $Purplish-blue;
                font-size: var(--m-res);
                font-weight: bold;
              }
            }
          }
        }

        .Thankyou-Page {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          grid-row: 1/3;

          @include Mobile {
            margin: 2rem 0;
          }

          .Thankyou-Logo {
            width: clamp(3rem, calc(15% - 14px), 5rem);
            aspect-ratio: 1/1;
            background: url("/public/assets/images/icon-thank-you.svg")
              center/contain no-repeat;
          }

          h1 {
            @extend %slide-heading;
            margin-top: var(--m-t-Thankyou-h1);
            margin-bottom: var(--m-b-Thankyou-h1);
          }

          p {
            @extend %slide-para;
            text-align: center;
            line-height: 1.5rem;
          }
        }
      }

      .Footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0 var(--m-b-Footer);

        @include Mobile {
          background: hsl(0, 0%, 100%);
          padding: 1rem;
          position: sticky;
          inset: auto 0 0 0;
          z-index: 1;
        }

        & :first-child,
        & :last-child {
          @include fonting(var(--sm-res), "Ubuntu-M");
          border: none;
        }

        & :first-child {
          color: $Cool-gray;

          background: transparent;

          &:hover {
            color: $Marine-blue;
            cursor: pointer;
          }
        }

        & :last-child {
          color: $White;
          background: $Marine-blue;
          border-radius: 7px;
          padding: 1rem 2rem;

          @include Mobile {
            border-radius: 5px;
          }

          &:hover {
            background: lighten($Marine-blue, 10%);
            cursor: pointer;
          }
        }
      }
    }
  }
}
