//ADDING COMPONENTS
@use "./SASS-COMPONENTS/Step.scss";
@use "./SASS-COMPONENTS/InputBox";
@use "./SASS-COMPONENTS/Card";
@use "./SASS-COMPONENTS/AddOnTile";

//ADDING STYLES
@use "./SASS-TOOLKIT/all.scss" as *;
@use "./classesANDxtends" as *;

//MAIN

.Page {
  @extend %center-item;
  min-height: 100vh;
  background: $Light-gray;
  padding: 0 1rem;

  @include Mobile{
    background: red
  }

  .Container {
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 3/2;
    padding: 1rem;
    border-radius: 15px;
    background: $White;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr;

    .Left-Hand {
      padding: clamp(1rem, 10%, 2rem);
      border-radius: 10px;
      background: url("/public/assets/images/bg-sidebar-desktop.svg")
        center/cover no-repeat;

      //STEP COMPONENT
    }

    .Right-Hand {
      display: grid;
      grid-template-rows: auto 1fr auto;
      padding: clamp(0px, calc(15% - 48px), 3rem) 0
        clamp(1px, calc(4% - 9px), 1rem);
      width: 100%;
      max-width: 500px;
      margin: 0 auto;

      .Header {
        margin-bottom: clamp(1rem, calc(37% - 137px), 3rem);

        h1 {
          @extend %slide-heading;
        }

        p {
          @extend %slide-para;
        }
      }

      .Slide-Box {
        //INPUTBOX COMPONENT

        .Slide-Two {
          .Card-Box {
            display: flex;
            gap: 1rem;

            //CARD COMPONENT
          }

          .ToogleBtn-Box {
            margin-top: 2.5rem;
            @extend %center-item;
            width: 100%;
            padding: 1rem;
            background: $Alabaster;
            border-radius: 5px;

            button {
              width: 2.5rem;
              aspect-ratio: 3/1;
              border: none;
              background: $Marine-blue;
              padding: 5px;
              border-radius: 16px;
              position: relative;

              .Circle {
                width: 12px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background: $White;
              }

              &::after,
              &::before {
                @include fonting($sm-res, "Ubuntu-M");
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }

              &::before {
                content: "Monthly";
                right: calc(100% + 1.5rem);
                color: $Marine-blue;
              }

              &::after {
                content: "Yearly";
                left: calc(100% + 1.5rem);
                color: $Cool-gray;
              }
            }
          }
        }

        //ADDONSLIDE COMPONENT

        .Slide-Four {
          .Finishing-Table {
            width: 100%;
            border-radius: 10px;
            background-color: $Alabaster;
            padding: 1.5rem;

            h1 {
              @include fonting($sm-res, "Ubuntu-B");
              color: $Marine-blue;
              @extend %gap-bw;
              margin-bottom: 1.5rem;
            }

            h2 {
              @include fonting($xs-res, "Ubuntu-M");
              color: $Cool-gray;
              @extend %gap-bw;

              &:not(:nth-of-type(2)) {
                margin: 1rem 0;
              }
            }
          }

          .Total-sum {
            margin-top: 3rem;
            padding: 0 1.5rem;
            @extend %gap-bw;
            @include fonting($xs-res, "Ubuntu-M");
            color: $Cool-gray;

            & :nth-child(2) {
              color: $Purplish-blue;
              font-size: $m-res;
              font-weight: bold;
            }
          }
        }
      }

      .Footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        & :first-child,
        & :last-child {
          @include fonting($sm-res, "Ubuntu-M");
          border: none;
        }

        & :first-child {
          color: $Cool-gray;

          background: transparent;

          &:hover {
            color: $Marine-blue;
            cursor: pointer;
          }
        }

        & :last-child {
          color: $White;
          background: $Marine-blue;
          border-radius: 7px;
          padding: 1rem 2rem;

          &:hover {
            background: mix($White, $Marine-blue, 10%);
            cursor: pointer;
          }
        }
      }
    }

    .Thankyou-Page {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .Thankyou-Logo {
        width: clamp(3rem, calc(15% - 14px), 5rem);
        aspect-ratio: 1/1;
        background: url("/public/assets/images/icon-thank-you.svg")
          center/contain no-repeat;
      }

      h1 {
        @extend %slide-heading;
        margin-top: $l-res;
        margin-bottom: $sm-res;
      }

      p {
        @extend %slide-para;
        text-align: center;
        line-height: 1.5rem;
      }
    }
  }
}
