@use "../SASS-TOOLKIT/all" as *;
@use "../classesANDxtends" as *;

.Tile {
  border: 1px solid $Light-gray;
  outline: 1px solid $Purplish-blue;
  border-radius: 7px;
  margin-bottom: 1rem;
  padding: var(--p-Tile);
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  background: $Alabaster;

  .Tick-mark {
    border-radius: 4px;
    width: clamp(1rem, calc(10vw - 54px), 1.2rem);
    aspect-ratio: 1/1;
    background: url("/public/assets/images/icon-checkmark.svg") center/12px
      no-repeat blue;
    margin-right: 1rem;
    
  }

  .Discription {
    h3 {
      @include fonting(var(--ms-res), "Ubuntu-B");
      color: $Marine-blue;
      margin-bottom: 4px;
    }

    p {
      @include fonting(var(--sm-res), "Ubuntu-R");
      color: $Cool-gray;
    }
  }

  .Rate {
    @include fonting(var(--sm-res), "Ubuntu-R");
    color: $Purplish-blue;
  }
}
