@use "../SASS-TOOLKIT/all" as *;
@use "../classesANDxtends" as *;

.Card{
    border: 1px solid $Light-gray;
    flex-grow: 1;
    flex-basis: 0;
    padding: var(--p-Card);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: var(--g-Card);

    @include Mobile{
        flex-direction: row;
    }

    &:hover{
        outline: 1px solid $Purplish-blue;
    }

    

    img{
        width: clamp(2rem, 5vw, 2.5rem);
    }

    h2{
        @include fonting(var(--ms-res), 'Ubuntu-B');
        color: $Marine-blue;
    }

    p{
        @include fonting(var(--sm-res), 'Ubuntu-R');
        color: $Cool-gray;
        margin-top: 5px;
    }

    h3{
        @include fonting(var(--xs-res), 'Ubuntu-M');
        color: $Marine-blue;
        margin-top: 5px;
    }
}