@use "../SASS-TOOLKIT/all" as *;
@use "../classesANDxtends" as *;

.Card{
    border: 1px solid $Light-gray;
    flex-grow: 1;
    flex-basis: 0;
    padding: 1rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 5vw, 3rem);

    &:hover{
        outline: 1px solid $Purplish-blue;
    }

    

    img{
        width: clamp(2rem, 5vw, 2.5rem);
    }

    h2{
        @include fonting($ms-res, 'Ubuntu-B');
        color: $Marine-blue;
    }

    p{
        @include fonting($sm-res, 'Ubuntu-R');
        color: $Cool-gray;
        margin-top: 5px;
    }

    h3{
        @include fonting($xs-res, 'Ubuntu-M');
        color: $Marine-blue;
        margin-top: 5px;
    }
}