@use '../SASS-TOOLKIT/all' as *;
@use '../classesANDxtends' as *;

.Step-Indigator-Box{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.5rem;

    .Icon{
        width: clamp(28px, 4vw, 35px);
        aspect-ratio: 1/1;
        @include fonting($sm-res, 'Ubuntu-B');
        border-radius: 50%;
        @extend %center-item;
        color: $Magnolia;
        border: 1px solid $Magnolia;

        // color: $Marine-blue;
        // background: $Light-blue;
        
    }

    .Text-Box{

        h4{
            @include fonting($sm-res, 'Ubuntu-R');
            color: $Pastel-blue;
            margin-bottom: 3px;
        }

        h2{
            @include fonting($ms-res, 'Ubuntu-M');
            letter-spacing: 1px;
            color: $White;
        }
    }
}