//FONTS 

@font-face {
    font-family: 'Ubuntu-B';
    src: url('/public/assets/fonts/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: 'Ubuntu-M';
    src: url('/public/assets/fonts/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: 'Ubuntu-R';
    src: url('/public/assets/fonts/Ubuntu-Regular.ttf');
}

@mixin fonting($size, $family) {
    font: $size $family;
}