//## COLORS

//### Primary

$Marine-blue: hsl(213, 96%, 18%);
$Purplish-blue: hsl(243, 100%, 62%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light-blue: hsl(206, 94%, 87%);
$Strawberry-red: hsl(354, 84%, 57%);

//### Neutral

$Cool-gray: hsl(231, 11%, 63%);
$Light-gray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);

//RESPONSIVE FONTS

$sm-res: clamp(calc(1rem - 4px), 1.7vw, 1rem);
$ms-res: clamp(calc(17px - 4px), 1.7vw, 17px);
$m-res: clamp(calc(18px - 4px), 1.7vw, 18px);
$l-res: clamp(calc(2rem - 4px), 4vw, 2rem);